<mat-list>
    <mat-list-item class="list-header">
        <div class="row">
            <div class="col-xs-3">Nombre</div>
            <div class="col-xs-3">Género</div>
            <div class="col-xs-3">Creado</div>
            <div class="col-xs-3">Actualizado</div>
        </div>
    </mat-list-item>
    <mat-divider class="header-divider mb-3"></mat-divider>
    <mat-list-item class="py-2">
        <div class="row">
            <div class="col-xs-3">Sebastián</div>
            <div class="col-xs-3">Masculino</div>
            <div class="col-xs-3">2020-10-27 00:43:45.731-03</div>
            <div class="col-xs-3">2020-10-27 00:43:45.731-03</div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="py-2">
        <div class="row">
            <div class="col-xs-3">Juan Camilo</div>
            <div class="col-xs-3">Masculino</div>
            <div class="col-xs-3">2020-10-27 00:43:45.731-03</div>
            <div class="col-xs-3">2020-10-27 00:43:45.731-03</div>
        </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="py-2">
        <div class="row">
            <div class="col-xs-3">Ariana</div>
            <div class="col-xs-3">Femenino</div>
            <div class="col-xs-3">2020-10-27 00:43:45.731-03</div>
            <div class="col-xs-3">2020-10-27 00:43:45.731-03</div>
        </div>
    </mat-list-item>
</mat-list>