<mat-list>
    <mat-list-item class="list-header">
        <div class="row center-xs">
            <div class="col-xs-3">Nombre</div>
            <div class="col-xs-3">Género</div>
            <div class="col-xs-3">Creado</div>
            <div class="col-xs-3">Actualizado</div>
        </div>
    </mat-list-item>
    <mat-divider class="header-divider"></mat-divider>
    <ng-container *ngFor="let friend of (friendSv.friends$ | async)">
        <mat-list-item class="py-2">
            <div class="row center-xs">
                <div class="col-xs-3">{{friend.name | titlecase}}</div>
                <div class="col-xs-3">{{getGenderDisplay(friend.gender) | titlecase}}</div>
                <div class="col-xs-3">{{friend.createdAt}}</div>
                <div class="col-xs-3">{{friend.updatedAt}}</div>
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-list>