.mat-card {
    border-radius: 9px;
    overflow-x: auto;
    overflow-y: auto;
}
.mat-card.form {
    min-height: 300px;
    max-height: 300px;
}
.mat-card.viewer {
    min-height: 330px;
    max-height: 330px;
}
